@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.landing-section{
    background-image: url('./assets/bg.png');
    background-size: cover;
  background-position: center;
}